<%= render "common/services_bread_crumb" %>
<div class="product_show_header_container">
  <%= render "common/services_header" %>
  <div id="product_relative">
    <%= link_to_previous_service @previous %>
    <%= link_to_next_service @next %>
  </div>
</div>
<div class="clearfix">
  <h2><%= @service.try :name %></h2>
  <div id="show_product_detail">
    <%= raw @service.try :detail %>
  </div>
</div>
