<!-- banner start========================= -->
<div id="banner" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "weddings.jpg", {alt: "", class: "img-responsive"} %>
    </div>
    <div class="item">
      <%= image_tag "weddings.jpg", {alt: "", class: "img-responsive"} %>
    </div>
    <div class="item">
      <%= image_tag "weddings.jpg", {alt: "", class: "img-responsive"} %>
    </div>
  </div>

  <a class="carousel-control" href="#banner" data-slide="prev">
    <span class="icon-prev icon-large"></span>
  </a>
  <a class="carousel-control right" href="#banner" data-slide="next">
    <span class="icon-next icon-large"></span>
  </a>
</div>
<!-- banner end========================= -->
<!-- services start========================= -->
<div id="services">
  <div id="service_id" class="well">
    <%= t "text.some_our_top_services" %>
    <%= link_to t("links.view_more"),
                services_path,
                { id: "services_view_more",
                  class: "btn btn-primary pull-right"
                } %>
  </div>
  <div id="service_list">
    <%= render :partial => "common/home_services", :object => @services %>
  </div>
</div>
<div class="clearfix"></div>
<!-- services end========================= -->
<!-- products start========================= -->
<div id="products" class="">
  <div id="products_title">
    <h3><%= t "links.our_products" %></h3>
  </div>
  <div id="products_categroies_name">
    <p><%= @categories.map(&:name).join("/") %></p>
  </div>
</div>
<div id="products_list">
  <div id="products_container">
    <%= render :partial => "common/home_products", :object => @products %>
  </div>
  <div id="products_pager">
    <div id="products_pager_hr">
      <hr />
    </div>
    <div id="products_pager_prev_next">
      <%= render :partial => "common/paginator", :object => @products %>
    </div>
  </div>
</div>
<!-- products end========================= -->
