<%= form_for [:admin, @admin] do |f| %>
  <%= render_error_message @admin %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.text_field :email,
                     :class => "form-control required" %>
    <%= error_span(@admin[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :password, :class => 'control-label' %>
    <%= f.password_field :password, :class => "form-control required" %>
    <%= error_span(@admin[:password]) %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <%= f.password_field :password_confirmation, :class => "form-control required" %>
    <%= error_span(@admin[:password_confirmation]) %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back,
                :class => 'btn btn-default' %>
  </div>
<% end %>