<div class="footer" id="footer">
  <div class="container" id="footer_container">
    <div id="footer_contact" class="footer_element">
      <ul>
        <li><h4>HIGHTECH Imp &amp; Exp</h4></li>
        <li>
          <p>Address: 708 HuaKe Building</p>
          <p>3 KaiHua Road, HuaYuan Industrial</p>
          <p> Zone,Nankai Dist, TianJin City, China</p>
          <p>Phone: 13752095919</p>
          <p>Email: info@chinaprintech.com.cn</p>
        </li>
      </ul>
    </div>
    <div id="footer_company" class="footer_element">
      <ul>
        <li><h4>Company</h4></li>
        <li><%= link_to t("footer.about"), about_path %></li>
        <li><%= link_to t("footer.faq"), faq_path %></li>
        <li><%= link_to t("footer.contact"), contactus_path %></li>
        <li><%= link_to t("footer.terms"), term_path %></li>
        <li><%= link_to t("links.products"), products_path %></li>
        <li><%= link_to t("footer.testimonials"), testimonial_path %></li>
      </ul>
    </div>
    <div id="footer_community" class="footer_element">
      <ul>
        <li><h4>Community</h4></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Forum</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Newsletter</a></li>
      </ul>
    </div>    
    <div id="footer_qrcode" class="footer_element">
      <%= image_tag "qr1.png" %>
      <%= image_tag "qr2.png" %>
    </div>
  </div>
</div>