<div class="cmyk-header">
  <div class="top">
    <div class="social">
      <a href="https://www.facebook.com/nancychen1104"><%= image_tag "facebook.png" %></a>
      <a href="https://plus.google.com/u/0/101624875626434203492/posts"><%= image_tag "google.png" %></a>
      <a href="https://twitter.com/nancychen1104"><%= image_tag "twitter.png" %></a>
      <a href="https://www.youtube.com/user/nancychen1104?feature=watch"><%= image_tag "youtube.png" %></a>
    </div>
  </div>
  <div class="menu">
    <div class="navbar-header">
      <%= link_to image_tag("logo.png"), root_path, alt: t("app_name") %>
    </div>
    <div class="navbar-collapse collapse pull-left">
      <ul class="nav navbar-nav">
        <li class="<%= controller.controller_name.eql?('home') ? 'active' : '' %>">
          <%= link_to t("header.home"), root_path %>
        </li>
        <li class="<%= request.path.start_with?('/about') ? 'active' : '' %>">
          <%= link_to t("header.about"), about_path %>
        </li>
        <li class="<%= request.path.start_with?('/services') ? 'active' : '' %>">
          <%= link_to t("header.services"), services_path %>
        </li>
        <li class="dropdown">
          <%= link_to products_path,
                      :class => "dropdown-toggle disabled #{request.path.start_with?('/products') ? 'active' : ''}",
                      "data-toggle" => "dropdown" do %>
            <span class="caret"></span><%= t "header.products" %>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if !@categories.blank? %>
              <% for category in @categories %>
                <li><%= link_to category.try(:name), category_products_path(category) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="<%= request.path.start_with?('/news') ? 'active' : '' %>">
          <%= link_to t("header.news"), news_index_path %>
        </li>
        <li class="<%= request.path.start_with?('/contactus') ? 'active' : '' %>">
          <%= link_to t("header.contact_us"), contactus_path %>
        </li>
      </ul>
    </div>
    <%= render "common/search" %>
  </div>
</div>
